{
   
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": ["warn", {
        "additionalHooks": "(useMyCustomHook|useMyOtherCustomHook)",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
      }]
    },
    "settings": {
		"react": {
			"version": "detect"
		}
	}
  }
